<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Hello welcome Pets!</h1>
    <img src="images/cute_pets.jpeg" width="100%" alt="cute pets image">
    <p>
        Look at all these cute animals!
    </p>
</body>
</html>